body{
    margin: auto;
    background-color: rgb(230, 230, 230);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
          "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

header{
    display: flex;
    height: 8vh;
    background-color: darkslategray;
    color: white;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 4vh;
}
h3{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}
.login-card{
    margin: auto;
    width: 200px;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 0 5px 5px gainsboro;
}
.login-button{

        width: 100%;
        background-color: darkslategray;
        height: 40px;
        padding: 10px 15px 11px;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        border-radius: 5px;
        border: 0px solid darkslateblue;
        cursor: pointer;
        box-shadow: 0 0px 0;
        text-decoration: none;
        font-family: sans-serif;
        text-align: center;
    
}
.wide-textfield{
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

ul{
    overflow-y: scroll;
    flex:1;
    list-style-type: none;
    padding: 15px;
    margin: 0;
    padding-top: 10px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #AAA;
    border-radius: 2px;
}
li{
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}
.chat-input{
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: stretch;
}
.rating {
    align-items: center;
    height: 30px;
}
.big-button{
    height: 50px;
}
.chat-textbox{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.vid-div{
    flex:1;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.filter-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index:1;
}
.red-filter{ 
    background:linear-gradient(to right,rgba(255, 0, 0, 0.4),rgba(255, 0, 0, 0.4));
}

.blue-filter{
    background:linear-gradient(to right,rgba(19, 94, 255, 0.4),rgba(19, 94, 255, 0.4));
}

.green-filter{
    background:linear-gradient(to right,rgba(0, 247, 111, 0.4),rgba(0, 247, 111, 0.4));
}

.warm-filter{
    background:linear-gradient(to right,rgba(255, 29, 29, 0.4),rgba(255, 235, 51, 0.4));
}

.cool-filter{
    background:linear-gradient(to right,rgba(132, 0, 255, 0.4),rgba(0, 195, 255, 0.4));
}
.filter-picker-bg{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.translucent-button{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    flex:1;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: large;
}
.translucent-button:active{
    opacity: 0.5;
}
