body{
    margin: auto;
    background-color: rgb(230, 230, 230);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
          "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

header{
    display: flex;
    height: 8vh;
    background-color: darkslategray;
    color: white;
    align-items: center;
    padding-left: 20px;
    font-size: 4vh;
}

ul{
    overflow-y: scroll;
    flex:1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    
}
li{
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}