body{
    margin: auto;
    background-color: rgb(230, 230, 230);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
          "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

header{
    display: flex;
    height: 8vh;
    background-color: darkslategray;
    color: white;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 4vh;
}

ul{
    overflow-y: scroll;
    flex:1;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    padding-top: 10px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #AAA;
    border-radius: 2px;
}
li{
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}
.chat-input{
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: stretch;
}
.big-button{
    height: 50px;
}
.chat-textbox{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.red-filter:before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right,rgba(255, 0, 0, 0.4),rgba(255, 0, 0, 0.4));
}
.red-filter{
    left: 0%;
    top: 0%;
    width: 62vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.blue-filter:before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right,rgba(19, 94, 255, 0.4),rgba(19, 94, 255, 0.4));
}
.blue-filter{
    left: 0%;
    top: 0%;
    width: 62vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.green-filter:before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right,rgba(0, 247, 111, 0.4),rgba(0, 247, 111, 0.4));
}
.green-filter{
    left: 0%;
    top: 0%;
    width: 62vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.warm-filter:before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right,rgba(255, 29, 29, 0.4),rgba(255, 235, 51, 0.4));
}
.warm-filter{
    left: 0%;
    top: 0%;
    width: 62vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.cool-filter:before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right,rgba(132, 0, 255, 0.4),rgba(0, 195, 255, 0.4));
}
.cool-filter{
    left: 0%;
    top: 0%;
    width: 62vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
}